// utils/_variables.scss

/* Colors */
$primary : #fff;
$secondary : #ff3c00;
$tertiary: #202e5a;

/* Fonts */
$titleFont : 'Montserrat Semi Bold';
$normal : 'Roboto Mono Regular';

/* Widths and Heights */
$mxw : 1150px;