@use '../utils/_variables' as *;
@use "../base/reset";
@use '../base/_typographies';
@use '../components/_navbar';
@use '../components/_burger-menu';

img#presentation {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    max-width: 600px;
}

header {
    max-width: $mxw;
    margin: auto;
    padding: 0 1.25rem;
    margin-bottom: 8rem;
    overflow-x: hidden;

    section {
        max-width: 550px;
    }

    .underline {
        position: relative;
    }

    .underline::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        /* Ajustez selon vos besoins */
        width: 100%;
        height: 4px;
        /* Épaisseur du soulignement */
        background-color: $secondary;
        border-radius: 1rem;
        /* Arrondi des bords */
    }

}

@media screen and (max-width: 850px) {
    h1 {
        max-width: 70%;
    }

    img#presentation {
        max-width: 450px;
    }
}

@media screen and (max-width: 615px) {
    header section {
        text-align: center;
    }

    nav {
        margin-bottom: 20rem;
    }

    h1,
    img#presentation {
        max-width: initial;
    }

    img#presentation {
        width: 500px;
    }

}