@use '../utils/_variables' as *;

input,
textarea,
input[type="checkbox"]+label {
    cursor: pointer;
}

.name>* {
    flex: 1;
}

.error-text {
    display: none;
}

form p {
    margin: 0.4rem 0.2rem 0 0;
}

.flex-line {
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-line label {
    width: calc(100% - 60px);
}

.error-active p {
    display: block;
    color: #000;
}

.error-active input:not(input[type="checkbox"]),
.error-active textarea {
    border: 2px solid red;
    box-shadow: 0 0 1rem #333;
}

.card {
    position: fixed;
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
    width: 310px;
    visibility: hidden;
    opacity: 0;
    background-color: $tertiary;
    box-shadow: 0 0 1rem #333;
    border-radius: 1rem;
    color: #fff;
    padding: 1.2rem;
    transition: opacity 0.2s, visibility 0s;
    text-align: justify;

    div {
        position: relative;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 8%;
    }

    h3 {
        margin-left: 2rem;
        letter-spacing: normal;
    }

    &.card-active {
        visibility: visible;
        opacity: 1;
    }
}

.btn-submit {
    transition: all 0.2s;
}

.btn-submit:hover {
    filter: brightness(110%);
    box-shadow: 0 0 2rem #333;
}

.btn-submit:active {
    transform: translateY(2px) scale(0.99);
    box-shadow: 0 0 1rem #333;
}

@media screen and (max-width: 615px) {
    .name {
        flex-direction: column;
    }
}